<!doctype html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>MagistrateMonitor</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/application.css">

</head>
<body>

<div id="container">
	<header>

	</header>
	<div id="main" role="main">
      <%= yield %>
	</div>
	<footer>

	</footer>
</div> <!--! end of #container -->

<script src="/js/application.js"></script>

</body>
</html>
