<h1>Supervisor Details : <%= params[:name] %></h1>

<% if @supervisor %>
  <h3>Status from supervisor</h3>
  <p><pre>
    <%= @supervisor.status.ai(:html => true) %>
  </pre></p>
  
  <h3>Databag to be sent to supervisor</h3>
  <p><pre>
    <%= @supervisor.databag.ai(:html => true) %>
  </pre></p>
<% else %>
  No supervisor by the name <%= params[:name] %>
<% end %>
